@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "~swiper/css/swiper";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";

.full-container{
	padding: 0 5%;
	max-width: 100%;
	@include max-screen(767px){
		padding: 0 15px
	}
}

.tippy-content{
	font-size: 16px;
}

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	height: 100%;

	@media screen and (max-width: $desktopWidth) {
		font-size: 16px;
	}

	@media screen and (max-width: $tableWidth) {
		font-size: 15px;
	}

	@media screen and (max-width: $phoneWidth) {
		font-size: 14px;
	}
}

body {
	margin: 0;
	padding: 0;
	color: #454545;
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.h3,
h3 {
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	letter-spacing: 0.015em;
}

h1,
.h1 {
	font-weight: 300;
	font-size: 46px;
	line-height: 54px;
	letter-spacing: 0.015em;
	color: #454545;
}

.h2,
h2 {
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0.015em;
}

.text-block {
	font-weight: 300;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 0.015em;

	p {
		margin-bottom: 20px;
	}

	ul {
		li {
			margin-bottom: 20px;
			margin-top: 20px;
			&:before{
				content: '— ';
			}
		}
	}

	h4,
	.h4,
	h3,
	.h3,
	h2,
	.h2 {
		margin: 40px 0 25px;
		color: #000000;
	}
}

svg {
	display: block;
}

.wrapper{
	overflow: hidden;
}

// Modules
// @import "modules/my-module.scss";

@import "modules/header";
@import "modules/forms";
@import "modules/btns";
@import "modules/page";
@import "modules/animations";
@import "modules/footer";