mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr


mixin news-item(title, descr)
  .news-list__item
    h2.item-title= title
    p.item-descr= descr

mixin form-control(type, name, placeholder, model)
  input(type=type, name=name, v-model=model, placeholder=placeholder).form__control

mixin form-submit(text)
  button.btn.btn--primary(type="submit")= text
