@keyframes menuItemHoverLeft {
  0% {
    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(0); }
  16% {
    transform: perspective(1600px) rotateX(5deg) rotateY(3deg) translateZ(32px); }
  100% {
    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(65px); } }

@keyframes menuItemHoverRight {
  0% {
    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(0); }
  16% {
    transform: perspective(1600px) rotateX(5deg) rotateY(-3deg) translateZ(32px); }
  100% {
    transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(65px); } }

    @keyframes menuItem {
      0% {
        transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(65px); }
      100% {
        transform: perspective(1600px) rotateX(0) rotateY(0) translateZ(0); } }