button{
    &:focus{
        outline: 0;
    }
}

.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;

	&--primary {
		position: relative;
		background-color: transparent;
		border: 2px solid #F4B855;
		color: #fff;
		padding: 0 20px;
		height: 57px;
		min-width: 210px;
		line-height: 53px;
		font-weight: 400;
		font-size: 18px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #fff;
        transition: 0.3s color cubic-bezier(0.4, 0, 0.2, 1);
		
		&:after{
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 0;
			background-color: #F4B855;
			top: 0;
			left: 0;
            z-index: 5;
            transition: 0.3s width cubic-bezier(0.4, 0, 0.2, 1);
		}
        
        span{
            z-index: 6;
            position: relative;
        }
		
		&:hover{
			color: #202229;
			text-decoration: none;
            &:after{
                width: 100%;
            }
		}
	}
    
    &--submit{
        display: block;
        width: 100%;
        color: #202229;
        background: linear-gradient(to right, #ffc645 0%,#ffe39f 100%);
        height: 52px;
        line-height: 52px;
        font-size: 24px;
        text-transform: uppercase;
        &:hover{
            background: linear-gradient(to right, #ffc645 0%,#ffe39f 100%);
            color: #202229;
        }
    }
    
}