.form{
    &__control{
        height: 46px;
        line-height: 46px;
        width: 100%;
        display: block;
        background-color: #fff;
        font-size: 20px;
        padding: 0 20px;
        @include input-placeholder{
            color: #9B9B9B;
        }
    }
    
    &__group{
        margin-bottom: 20px;
        
        &--personal{
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            text-align: center;
            a{
                color: #454545;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        
    }
    
    &__label{
        display: block;
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
        color: #000;
        margin-bottom: 5px;
    }
}