.header{
    padding-top: 23px;
    padding-bottom: 29px;
    position: relative;
    z-index: 8;

    @include max-screen(767px){
        padding-bottom: 44px;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        flex: 0 0 auto;
        img{
            max-width: 100%;
        }
        @include max-screen(767px){
            width: 120px;
        }
    }

    &__text{
        text-align: center;
        color: #fff;
        align-self: flex-end;
        padding-left: 100px;

        @include max-screen(1023px){
            padding-left: 0;
        }

        @include max-screen(767px){
            position: absolute;
            top: 80px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: 4;
            width: 266px;
        }

        span{
            display: block;            
            line-height: 96%;
            font-weight: normal;

            &:first-child{
                font-size: 20px;
            }
            &:last-child{
                font-size: 22px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                margin-top: 5px;
            }
        }
    }

    &__contacts{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }

    &__mail{
        font-size: 20px;
        line-height: 96%;
        color: #fff;
        margin-right: 30px;

        &:hover{
            color: #fff;
            text-decoration: none;
        }
        @include max-screen(1023px){
            display: none;
        }
    }
    &__phone{
        font-size: 24px;
        line-height: 96%;
        color: #fff;
        @include max-screen(767px){
            font-size: 20px;
        }
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}