include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='167x167', href='/assets/favicon/apple-touch-icon-167x167.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicon/apple-touch-icon-180x180.png')
    link(rel='apple-touch-icon', sizes='1024x1024', href='/assets/favicon/apple-touch-icon-1024x1024.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicon/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='228x228', href='/assets/favicon/coast-228x228.png')
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    block head
  body
    .wrapper
      .page(class=pageClass)
        div(class=pageClass+'__inner')
          include ../includes/modules/header
          block content
          include ../includes/modules/footer
    block script